root = true

[*]
charset = utf-8
trim_trailing_whitespace = true
end_of_line = lf
insert_final_newline = true

[*.php]
indent_size = 4
indent_style = space

[*.{yml, yaml, neon, xml, xsl, json}]
indent_size = 2
indent_style = space

[*.{md, markdown}]
trim_trailing_whitespace = false
indent_size = 2
indent_style = space
