/.makerc
/.idea/
/bin/behat
/bin/cc-test-reporter
/bin/composer
/bin/phing
/bin/phpcs
/bin/phpdoc
/bin/phpDocumentor
/bin/phploc
/bin/phpstan
/bin/phpunit
/bin/phpunit.phar
/composer-setup.php
/coverage/codeclimate.json
/site/
/vendor/
/resources/unicode/
/composer.lock
/resources/deleteme.txt
/resources/output/
