/.gitattributes     export-ignore
/.editorconfig      export-ignore
/.gitignore         export-ignore
/.idea              export-ignore
/docs               export-ignore
/resources          export-ignore
/build.xml          export-ignore
/build.png          export-ignore
/CONTRIBUTING.md    export-ignore
/README.md          export-ignore
/CHANGELOG.md       export-ignore
