# Emoji Catalog

This list contains all the _emojis_ from `\Jawira\EmojiCatalog\Emoji`.

| Name      | Emoji     | Code point(s) | `\Jawira\EmojiCatalog\Emoji::`  |
| --------- | --------- | ------------- | ------------------------------- |
