<?php

/**
 * Class Emoji
 *
 * Get access to all emojis as class constants.
 *
 * @package Jawira\EmojiCatalog
 * @author Jawira Portugal <dev@tugal.be>
 */
namespace Jawira\EmojiCatalog;

class Emoji
{
